apiVersion: apps/v1
kind: Deployment
metadata:
  name: ems-backend
  namespace: ems-app
  labels:
    app: ems-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ems-backend
  template:
    metadata:
      labels:
        app: ems-backend
    spec:
      imagePullSecrets:
        - name: ecr-creds
      containers:
        - name: backend
          image: backend-image
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: default
            - name: SERVER_PORT
              value: "8080"
            - name: H2_CONSOLE_ENABLED
              value: "true"
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 20
